h4.field-groups {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background-color: #5a8a8a;
  color: #ffffff;
  margin-bottom: 2px;
  padding: 12px;
  text-transform: uppercase;
}

.panel-body-prop {
  border-left: 3px solid #a52a2a;
  color: #004646;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 10px;
  padding-left: 10px;
}

.panel-body-prop:last-child {
  margin-bottom: 0;
}

.panel-body-prop:hover {
  background-color: #eaefef;
}

.panel-group {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.panel-group .panel {
  margin-bottom: -6px;
}

.panel-heading a:hover {
  cursor: pointer;
}